.zerofootprint {
    text-align: center;
    font-size: 16px;
    margin: 30px auto;
    width: 90%;
    max-width: 800px;

    h2 {
        font-size: 13px;
        text-transform: uppercase;
        margin: 30px auto 20px;
    }

    p {
        font-size: 11px;
        opacity: .98;
        line-height: 20px;
    }
}
